table {
	border: 1px solid black;
	border-collapse: collapse;
}

th, tr {
    border: 1px solid black;
	padding: 5px;
    background-color: #dddddd;
}

td {
    border: 1px solid black;
	padding: 5px;
    background-color: #ffffff;
}

td:total {
    border: 1px solid black;
	padding: 5px;
    background-color: #bbbbbb;
}

caption {
	border:  1px solid;
	border-bottom:  none;
	background-color: #aaa;
	padding: 5px;
	color:  blue;
}

tfoot {
	background-color: #ccc;
}