div {
	width: 100px;
	height: 100px;
	background: grey;
	cursor:  pointer;
/* 	transition-property: opacity, transform;
	transition-duration: 850ms;
	transition-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
	transition-delay: 0.5s; */
	position:  relative;
	animation-name: test_move;
	animation-duration: 1500ms; 
	animation-delay: 0.5s;
	animation-iteration-count: 2; /* infinite */
	animation-direction: alternate;
	/* animation-fill-mode: forwards; */
	animation-play-state: ;


}


@keyframes test_move {
	0% {
		left:  0%;
	}/* 
	25% {
		top: 250px;
	}
	50% {
		top: 250px;
	}
	75% {
		top: 250px; 
	}*/
	100% {
		left:  100%;
		opacity: 0;
		transform: rotate(360deg);
	}
}

div:hover {

/* 	opacity:  .5;
	transform: scale(3, 3);
 */
	

}